---
import Container from '../Container.astro'
import me from '../../images/me.webp'
---

<Container>
  <div class="about-wrapper flex">
    <div class='about-inner flex'>
        <div>
          <h2 class='about-header' id='about'>
            About Me
          </h2>
          <p class='about-p'>
            Hi there! My name is Alex and I love buildings things. I first grew an interest in web development in 2017 when I built a website for an e-commerce company I started that donated profits to local animal shelters. I graduated from a coding bootcamp and also earned a bachelor's degree in computer science.
          </p>
        </div>
        <img src={me} class='about-img' alt='A picture of Alex in front of rocks.' />
    </div>
  </div>
</Container>

<style>
.about-wrapper {
  height: calc(100vh - 66.5px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-inner {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.about-header {
  scroll-margin-top: 3em;
}

.about-p {
  line-height: 1.75;
}

.about-img {
  width: min(75%, 300px);
  margin-top: 2rem;
  box-shadow: var(--theme-shadow);
  border-radius: var(--theme-border-radius);
}

@media screen and (min-width: 700px) {
  .about-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
  }

  .about-header {
    margin-bottom: 0rem;
    scroll-margin-top: 7em;
  }

  .about-img {
    margin-top: 4rem;
  }

  :is(.about-p):first-of-type {
    padding-top: 1.5rem;
  }
}
</style>