---
import Container from '../Container.astro'
import Button from '../Button.astro'
import Footer from './Footer.astro'
---

<Container>
  <div class='contact-wrapper flex'>
    <h2>
      <span id='contact'>Contact</span>
    </h2>
    <div>
      <p class='contact-text'>
        If you would like to connect, my inbox is always open. Whether you have a question or
        just want to say hello, I will try my best to get back to you!
      </p>
      <Button>
        <a
          target="_blank"
          rel="noopener noreferrer"
          class='btn-inner'
          href='mailto:heyimalexw@gmail.com'
          >
          Let's Talk
        </a>
    </Button>
    </div>
  </div>
  <Footer />
</Container>

<style>
  .contact-wrapper {
    height: calc(100% - 24.8px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .contact-wrapper h2 {
    margin-bottom: 2rem;
  }

  .contact-text {
    margin-bottom: 2rem;
    font-size: 1.2em;
  }

  .btn-inner {
    color: var(--theme-bg);
    text-decoration: none;
  }
</style>