---
import settings from '../../config/settings'
---

<footer class='footer-wrapper'>
  <p>Designed by <a href={settings.twitterUrl} target="_blank" class='footer-link'>Alex Whitmore</a></p>
</footer>

<style>
  .footer-wrapper {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;

  }

  .footer-link {
    color: hsla(var(--color-orange), 1);
  }
</style>