---
import { twitterUrl } from '@config'
---

<footer class='footer-wrapper'>
  <p>Designed by <a href={twitterUrl} target="_blank">Alex Whitmore</a></p>
</footer>

<style>
  .footer-wrapper {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;

  }
</style>