---
import ThemeToggler from '../ThemeToggler'
import HeaderMenu from '../HeaderMenu'
---

<header>
  <nav class='navbar-wrapper flex'>
      <a href="/">Alex Whitmore</a>
        <div class='navbar-links flex'>
          <HeaderMenu client:load />
          
          <a href='#about' class='navbar-links__item'>
            About
          </a>
          <a href='#experience' class='navbar-links__item'>
            Experience
          </a>
          <a href='#contact' class='navbar-links__item'>
            Contact
          </a>

          <ThemeToggler client:load />
        </div>
  </nav>
</header>

<style>
  .navbar-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 2.25rem;
    width: 100%;
    position: fixed;
    background: var(--theme-bg);
    box-shadow: var(--theme-shadow);
  }

  .navbar-links {
    align-items: center;
    justify-content: center;
  }

  .navbar-links__item {
    display: none;
  }

  @media screen and (min-width: 550px) {
    .navbar-links__item {
      display: unset;
    }
  }
</style>