---
import Container from '../Container.astro'
import Button from '../Button.astro'
import { heroName, heroInfo } from '@config'
---

<Container>
  <div class="hero-wrapper flex">
    <div class="hero-wrapper-inner">
    <h4 class='hero-intro'>
      Hi, my name is
    </h4>
    <h2 class='hero-name'>
      {heroName ? heroName : 'John Doe'}
    </h2>
    <p class='hero-paragraph'>
      {heroInfo ? heroInfo : 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima eum, quasi quo provident rem natus deleniti? Alias aut rerum labore.'}
    </p>

    <div class='button-wrapper'>
      <a
      target="_blank"
      rel="noopener noreferrer"
      class='btn-inner'
      href='mailto:heyimalexw@gmail.com'
      >
        <Button>
          Learn More
        </Button>
      </a>
    </div>
  </div>
  </div>
  </Container>

<style>
.hero-wrapper {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-intro {
  font-size: clamp(25px, 2vw, 80px);
  color: var(--theme-accent);
}

.hero-name {
  font-size: clamp(40px, 8vw, 80px);
}

.hero-paragraph {
  margin-top: 1.5rem;
}

.button-wrapper {
  margin-top: 2rem;
}

.btn-inner {
  text-decoration: none;
}
</style>