---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import About from '@components/About.astro'
import Experience from '@components/Experience.astro'
import Contact from '@components/Contact.astro'
---

<Layout title="Alex Whitmore Portfolio">
	<main>
    <Header />
    <Hero />
    <About />
    <Experience />
    <Contact />
	</main>
</Layout>