---
import BaseHead from '../components/BaseHead.astro'
import '../styles/theme.css'
import '../styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <BaseHead />
	</head>

	<body>
		<slot />
	</body>
</html>
